@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    background:rgb(250, 249, 244)
  }

#header{
    background:rgb(28, 85, 80);
    color:#5f9bcc5e;
    padding-top: 10px;
    margin-bottom: 15px;
  }

  .idea {
    color: black;
  }
  h2 {
    color: black;
    text-align:center;
  }

  h3{
    color: black
  }

.font{
  font-size: 130%; 
}

#center{
    text-align:center;
}
 
.show{
  padding-left: 50px;
}

.bomborder {
  border: 1px solid black
}

.anyClass {
  height:400px;
  width: 900px; 
  overflow-y: scroll;
}

.centre{
  margin: auto;
  width: 100%;
  padding: 30px;
}

.modal {
  font-size: 122px;
  width: 50%;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}